# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj
*.ipdb
*.pdb
*.ilk
*.log
*.tlog
*.enc
*.idb
*.suo
*.VC.db



# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ipch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data base
.db